$grey: rgba(0, 0, 0, .2);
$light-gray: rgba(0, 0, 0, .05);
$blur: rgba(230, 240, 255, .4);
$unknown-color: #d2effe;
$dark-grey: rgb(119, 119, 119);
$light-white: #efefef;
$hight-light-white: #fff;
$white: #fcfcfc;
$pink-red: #ec0c8e;
$sea-blue: rgb(88, 172, 214);
$unknown-black: #555;
$khaki: #ffe270;
$weak-khaki: #f3f646;
$weak-weak-khaki: rgba(243, 246, 70, .2);
$green: #37ed2c;
$dark-red: #e92c6c;
$black: #333;
