<!DOCTYPE html>
<html lang="en" ng-app="math">
<head>
    <meta charset="UTF-8">
    <title>matrix multiplication</title>
    <script src="{{ url_for('static', filename='js/angular.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='math/app.js') }}"></script>
    <script src="{{ url_for('static', filename='math/controllers/matrix.js') }}"></script>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<body>
<div ng-controller="matrix as m">
    <p>Input something in the input box:</p>
    <p>Name : <input type="text" ng-model="m.matrix" placeholder="Enter name here" ng-change="m.calculate()"></p>
    <h1>matrix: {{ '{{ m.matrix }}' }}</h1>
    <p id="result">{{ '{{ m.result }}' }}</p>
</div>
</body>
</html>