<!DOCTYPE html>
<html lang="en" ng-app="ddd">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', filename='js/angular.min1.6.js') }}"></script>
</head>
<script>
    angular.module("ddd", []).controller('AppCtrl', display);

    //  1: $scope is not injected
    function display () {
        var vm = this;
        vm.calculate = function ($scope) {
            vm.result = 3;
        };
        vm.result = 9;
    }
</script>
<body>
<!-- Add 'as app' to the controller -->
<div ng-controller="AppCtrl as app">
    <!-- Prefix variables with 'app.' -->
    Hello {{ '{{ app.result }}' }}<br>
</div>
</body>
</html>