<div id="asidepart">
    <div class="closeaside"><a class="closebutton" href="#" title="隐藏侧边栏"></a></div>
    <aside class="clearfix">
        <div class="categorieslist">
            <p class="asidetitle">分类</p>
            <ul>
                <li><a href="http://purplebamboo.github.io/categories/angularjs%E8%AE%B0%E5%BD%95/" title="angularjs记录">angularjs记录<sup>9</sup></a></li>
                <li><a href="http://purplebamboo.github.io/categories/css/" title="css">css<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/categories/iconfont%E6%8A%80%E6%9C%AF/" title="iconfont技术">iconfont技术<sup>2</sup></a></li>
                <li><a href="http://purplebamboo.github.io/categories/javascript/" title="javascript">javascript<sup>18</sup></a></li>
                <li><a href="http://purplebamboo.github.io/categories/javascript/nodejs/" title="nodejs">nodejs<sup>2</sup></a></li>
                <li><a href="http://purplebamboo.github.io/categories/%E4%BB%8E%E9%9B%B6%E5%8D%95%E6%8E%92/" title="从零单排">从零单排<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/categories/%E5%90%84%E7%A7%8D%E7%9F%A5%E8%AF%86%E7%82%B9%E8%AE%B0%E5%BD%95/" title="各种知识点记录">各种知识点记录<sup>1</sup></a>
                </li>
                <li><a href="http://purplebamboo.github.io/categories/javascript/%E6%BA%90%E7%A0%81%E5%88%86%E6%9E%90/" title="源码分析">源码分析<sup>7</sup></a></li>
                <li><a href="http://purplebamboo.github.io/categories/%E7%B3%BB%E7%BB%9F%E7%8E%AF%E5%A2%83/" title="系统环境">系统环境<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/categories/angularjs%E8%AE%B0%E5%BD%95/%E7%BF%BB%E8%AF%91/" title="翻译">翻译<sup>1</sup></a></li>
            </ul>
        </div>
        <div class="tagslist">
            <p class="asidetitle">标签</p>
            <ul class="clearfix">
                <li><a href="http://purplebamboo.github.io/tags/Filters/" title="Filters">Filters<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/analyze/" title="analyze">analyze<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/angular/" title="angular">angular<sup>2</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/angularjs/" title="angularjs">angularjs<sup>7</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/ast/" title="ast">ast<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/async/" title="async">async<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/border-shadow/" title="border-shadow">border-shadow<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/chunked/" title="chunked">chunked<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/class/" title="class">class<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/co/" title="co">co<sup>2</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/comet/" title="comet">comet<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/controllers/" title="controllers">controllers<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/css3/" title="css3">css3<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/generator/" title="generator">generator<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/git/" title="git">git<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/gulp/" title="gulp">gulp<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/html/" title="html">html<sup>1</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/iconfont/" title="iconfont">iconfont<sup>2</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/javascript/" title="javascript">javascript<sup>15</sup></a></li>
                <li><a href="http://purplebamboo.github.io/tags/koa/" title="koa">koa<sup>2</sup></a></li>
            </ul>
        </div>
        <div class="linkslist">
            <p class="asidetitle">友情链接</p>
            <ul>
                <li><a href="" target="_blank">友链</a></li>
            </ul>
        </div>
    </aside>
</div>