<header>
    <div>
        <div id="imglogo">
            <a href="http://purplebamboo.github.io/"><img src="{{ url_for('static', filename='icon/blog/logo.svg') }}" alt="blog of purplebamboo" title="blog of purplebamboo"></a>
        </div>
        <div id="textlogo">
            <h1 class="site-name"><a href="http://purplebamboo.github.io/" title="blog of purplebamboo">my first blog copied</a></h1>
            <h2 class="blog-motto">dota诚可贵，coding价更高，若为女朋友，二者皆可抛。</h2>
        </div>
        <div class="navbar"><a class="navbutton navmobile" href="#" title="菜单">
        </a></div>
        <nav class="animated">
            <ul>
                <ul>
                    <li><a href="http://purplebamboo.github.io/">首页</a></li>
                    <li><a href="http://purplebamboo.github.io/archives">归档</a></li>
                    <li><a href="http://purplebamboo.github.io/categories">分类</a></li>
                    <li><a href="http://purplebamboo.github.io/about">关于</a></li>
                    <li>
                        <form class="search" action="//google.com/search" method="get" accept-charset="utf-8">
                            <label>Search</label>
                            <input id="search" name="q" autocomplete="off" maxlength="20" placeholder="搜索" type="text">
                            <input name="q" value="site:purplebamboo.github.com" type="hidden">
                        </form>
                    </li>
                </ul>
            </ul>
        </nav>
    </div>
</header>