<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html{
            background-image: url("{{ url_for("static",filename="image/ejemplo.jpg") }}");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
        }
    </style>
</head>
<body>
</body>
</html>