<header><a href="./">Home</a>
    <a href="./manual/index.html" data-ice="manualHeaderLink">Manual</a>
    <a href="identifiers.html">Reference</a>
    <a href="source.html">Source</a>
    <a href="test.html" data-ice="testLink">Test</a>
    <a data-ice="repoURL" href="https://github.com/ReactiveX/RxJS" class="repo-url-github">Repository</a>
    <div class="search-box active">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
        <ul class="search-result" style="display: none;"></ul>
    </div>
    <div class="theme-toggler"><span class="theme-selector dark">dark theme</span><span class="theme-selector light">light theme</span></div>
</header>
